body {
    background-image: url('images/bob.jpg'); /* Cambia 'ruta_de_tu_imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767); /* Ajusta el valor de opacidad (0.5) para más o menos transparencia */
    z-index: -1; /* Asegura que el overlay quede detrás del contenido */
}


.navbar {
    background-color: #0000004d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2000; /* Asegurar que esté por encima de la capa de semi transparencia */
    position: relative; /* Ajustar la posición para evitar que se superponga a la imagen de fondo */
}

.navbar-brand, .nav-link {
    color: #d4af37 !important;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.nav-link:hover {
    color: #d4af37 !important;
}
.container {
    margin-top: 80px;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #d4af37;
    transform: translateX(-50%);
}

.timeline li {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    overflow: hidden;
    clear: both;
}

.timeline-time {
    position: relative;
    background-color: #ffffff;
    border: 4px solid #d4af37;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4af37;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    margin-left: -1px;
    margin-top: -1px;
}

.timeline-content {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 80px;
    width: calc(100% - 120px);
}

.timeline-content:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
}

.timeline-content h3 {
    color: #d4af37;
}

.timeline-content p {
    margin: 0;
}

@media (max-width: 767px) {
    .timeline::before {
        left: 120px;
    }

    .timeline-time {
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin-left: -1px;
        margin-top: -1px;
    }

    .timeline-content {
        margin-left: 10px;
        width: calc(100% - 80px);
    }
}
